.about-section {
  @extend %section-commons;
  background: palette(white);
  color: palette(blue, x-dark);
  padding: ritmo(8) 20px;

  @include mq($from: break-large) {
    padding: 0 40px;
  }
}

.about-section__content__wrapper {
  display: flex;
  flex-wrap: wrap;
  @include container(1200px);

  @include mq($from: break-medium) {
    margin: 60px auto 40px;
  }

  @include mq($from: break-large) {
    flex-wrap: nowrap;
  }
}

.about-section__content {
  flex: 0 0 100%;
  text-align: center;
  margin-bottom: ritmo(7);

  h4 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
  }

  @include mq($from: break-large) {
    flex: 1 1 200px;
    text-align: center;
    padding-right: 60px;
    margin-bottom: 0;

    h4, p {
      text-align: left;
    }
  }
}

.about-section__separator,
.about-section__separator_2 {
  width: 100%;
  height: 89px;
  background-position: top right;
  background-size: 447px 91px;
  background-repeat: repeat-x;
}

.about-section__separator {
  background: url("/images/home/pattern_small_azulejo_blue_dark.svg") palette(white);
}

.about-section__separator_2 {
  background: url("/images/home/pattern_small_azulejo_white.svg") palette(blue, x-dark);
}


