.about-section {
  @extend %section-commons;
  background: palette(white);
  color: palette(blue, x-dark);
  padding: ritmo(5) 20px;

  @include mq($from: break-large) {
    padding: ritmo(10) 40px;
  }
}

.about-section__content__wrapper {
  display: flex;
  flex-wrap: wrap;
  @include container(1200px);

  @include mq($from: break-medium) {
    margin: 60px auto 40px;
  }

  @include mq($from: break-large) {
    flex-wrap: nowrap;
  }
}

.about-section__content {
  flex: 0 0 100%;
  text-align: center;
  margin-bottom: ritmo(7);

  h4 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
  }

  @include mq($from: break-large) {
    flex: 1 1 200px;
    text-align: center;
    padding-right: 60px;
    margin-bottom: 0;

    h4, p {
      text-align: left;
    }
  }
}
