.contacts-section {
  color: palette(blue);
  flex: 0 0 100%;

  @include mq($from: break-large) {
    flex: 1 1 auto;

    .section-titles {
      text-align: left;
    }
  }
}

.contact-form {
  text-align: center;
  width: 100%;

  @include mq($from: break-large) {
    text-align: left;
  }
}

.contact-form__inputs {
  height: ritmo(14);
  margin: 0 auto ritmo(4) auto;
  font-weight: 300;

  @include mq($until: break-small) {
    height: ritmo(8);
    @include ritmo-font-size(14px);
  }

  @include mq($from: break-small) {
    height: ritmo(8);
    @include ritmo-font-size(14px);
  }

  @include mq($from: break-medium-small) {
    height: ritmo(12);
    @include ritmo-font-size(18px);
  }

  @include mq($from: break-medium) {
    margin: 0 auto ritmo(7) auto;
  }

  input {
    border: 1px solid palette(grey);
  }
}

.contact-form__inputs--message-field {
  height: ritmo(40);
  margin-bottom: ritmo(8);
  font-weight: 300;

  textarea {
    padding: ritmo(3) 0;
  }
}

.contact-form__inputs__content {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  color: palette(grey, dark);
  text-indent: 20px;
  margin-bottom: ritmo(8);
  @include container(650px);

  @include mq($from: break-medium) {
    width: 70%;
  }
}

.contact-form__inputs__submit {
  @extend %button-blue;
  padding: ritmo(2) 40px;
  margin: 0 auto;
  border: none;
}
