.footer {
  background: palette(blue, x-dark);
  text-align: center;
  color: palette(white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mq($from: break-large) {
    flex-wrap: nowrap;
  }

  p {
    @include mq($until: break-medium-small) {
      @include ritmo-font-size(14px);
    }
  }

  .drupal-social__wrapper {
    margin-bottom: ritmo(3);
  }
}

.footer__copyright {
  background: palette(blue);
  padding: 0 0 ritmo(2) 0;

  p {
    top:0;
    display: block;
    position: relative;
    transform: translateY(ritmo(3));
    text-transform: uppercase;
  }
}

.footer__social {
  padding: 20px;

  @include mq($from: break-large) {
    padding: 20px 40px 20px 20px;
  }
}


.footer__organization {
  text-align: center;
  padding: 20px;
  
    @include mq($from: break-large) {
      padding: 20px 20px 20px 40px;
    }

  p {
    margin-bottom: ritmo(1);
    color: palette(white);
    text-transform: uppercase;
  }
}

.footer__organization__logo {
  width: 200px;
  display: block;
}
