%above_bg_overlay {
  position: relative;
  z-index: 10;
}

.intro-section {
  @extend %above_bg_overlay;
  background: palette(white);
  overflow: hidden;
  background: url("/images/home/background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: palette(black);
    z-index: 1;
    opacity: .5;

    @include mq($from: break-medium) {
      opacity: .35;
    }
  }
}

/*
** This is the azulejo mosaic containing the azulejo logo
*/

.intro-section__azulejo {
  @extend %above_bg_overlay;
  height: 275px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: ritmo(8);

  @include mq($from: break-large) {
    margin-top: ritmo(12);
  }
}

.intro-section__azulejo__center {
  height: 276px;
  width: 459px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.intro-section__azulejo__left,
.intro-section__azulejo__right {
  height: 276px;
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  background-size: 275px 276px;
}

.intro-section__azulejo__left {
  background: url("/images/home/pattern_azulejo_left.svg");
  background-position: top right;
}

.intro-section__azulejo__right {
  background: url("/images/home/pattern_azulejo_right.svg");
  background-position: top left;
}

.intro-section__title {
  @extend %above_bg_overlay;
  @include container(1000px);
  margin: 40px auto 20px;
  color: palette(white);
  text-align: center;
  text-transform: uppercase;
  
  @include mq($until: break-large) {
    padding: 0 10px;
  }

  h1 {
    @include ritmo-font-size($h4-font-size);
    margin: 0;
    line-height: 1.2;
    font-weight: 400;

    @include mq($from: break-medium) {
      @include ritmo-font-size($h2-font-size);
      font-weight: 700;
      letter-spacing: 3px;
    }
  }

  h2 {
    @include ritmo-font-size($h5-font-size);
    margin: 0;
    font-weight: 400;
    line-height: 1.2;

    @include mq($from: break-medium) {
      @include ritmo-font-size($h4-font-size);
    }
  }

  h3 {
    @include ritmo-font-size(18px);
    margin: 0;
    font-weight: 400;
    line-height: 1.2;
  }
}

.intro-section__text {
  @extend %above_bg_overlay;
  @include container(1000px);
  margin: 0 auto 50px;
  color: palette(white);
  text-align: center;

  @include mq($from: break-medium) {
    @include ritmo-font-size(25px);
    line-height: 1.4em;
  }

  @include mq($until: break-large) {
    padding: 0 10px;
  }
}
