section.about-section

  .about-section__content__wrapper
    .about-section__content
      h4.section-titles About
      p <strong>SPRINTS, SESSIONS, WORKSHOPS, SOCIAL ACTIVITIES.</strong><br>Drupal Developer Days is an event organized by the Drupal community which gathers people who contribute on the progress of Drupal from all over the world, happening in Europe every year.<br><br><strong>Join us this time in Lisbon!</strong>

    include _contacts-section

.about-section__separator

.about-section__separator_2
    //- .about__main-logo
    //-   img(src="/images/home/logo_main_blue.svg")
