section.about-section

  h4.section-titles About Drupal Developer Days

  .section-titles__underlines

  .about-section__content__wrapper
    .about-section__content
      p SPRINTS, SESSIONS, WORKSHOPS, SOCIAL ACTIVITIES.<br>Drupal Developer Days is an event organized by the Drupal community which gathers people who contribute on the progress of Drupal from all over the world, happening in Europe every year. Join us this time in Lisbon!

    //- .about__main-logo
    //-   img(src="/images/home/logo_main_blue.svg")

  .about-section__organization
    .about-section__organization__logo
      p Organization
      a(href="https://groups.drupal.org/node/512703" target="_blank")
        img(src="/images/home/logo_drupal_pt.jpg")

