section#contacts-section.contacts-section

  h4.section-titles Stay up to date!

  .section-titles__underlines

  .contact-form

    //- Begin contact-form Signup Form
    form#embedded-subscribe-form.contact-form__validate(action="thank-you", name="stay-in-touch-form", netlify, netlify-honeypot="spamilicius")


      // real people should not fill this in and expect good things - do not remove this or risk form bot signups
      .contact-form__bot(style="position: absolute; left: -5000px;")
        input(type="text", name="spamilicius", tabindex="-1", value="")

      .contact-form__inputs
        input#NAME.contact-form__inputs__content(type="name", value="", name="NAME", placeholder="NAME", required)

      .contact-form__inputs
        input#EMAIL.contact-form__inputs__content(type="email", value="", name="EMAIL", placeholder="E-MAIL", required)

      .contact-form__inputs
        input#embedded-subscribe.contact-form__inputs__submit(type="submit", value="Send", name="send")
