footer.footer

  .footer__organization
    p Organization
    a(href="http://drupal-pt.org/" target="_blank").footer__organization__logo
      img(src="/images/home/logo_drupal_pt.svg")

  .footer__social
    p Follow us
    include _social-media

