footer.footer

  .footer__social
    p Follow us
    include _social-media


  .footer__organization
    p Organization
    a(href="https://groups.drupal.org/node/512703" target="_blank").footer__organization__logo
      img(src="/images/home/logo_drupal_pt.svg")

