section.intro-section

  .intro-section__azulejo
    .intro-section__azulejo__left

    .intro-section__azulejo__center
      img(src="/images/home/logo_azulejo_white.svg")

    .intro-section__azulejo__right

  .intro-section__title
    h1 Drupal Developer Days
    h2 is coming to Lisbon in 2018 Monday<br />2nd July - Friday 6th July on ISCTE
    //- h3 2018

  .intro-section__text
    p Join us for a week of Drupal with a Portuguese touch.
