section.intro-section

  .intro-section__azulejo
    .intro-section__azulejo__left

    .intro-section__azulejo__center
      img(src="/images/home/logo_azulejo_white.svg")

    .intro-section__azulejo__right

  .intro-section__title
    h1 Drupal Developer Days
    h2 Lisbon
    h3 2018

  .intro-section__text
    p The Main Drupal Developer-oriented<br>International Event In Europe.
