section#intro-section.intro-section

  .intro-section__left

    .intro-section__title
      h5 Drupal Developer Days
      h1 Lisbon
      h5 2018

    .intro-section__organization

      .intro-section__organization__coordination

        .intro-section__organization__logo
          p Organization
          a(href="https://groups.drupal.org/node/512703" target="_blank")
            img(src="/images/home/logo_drupal_pt.jpg")

